{{!-- <link type="text/css" href="./../public/css/landing.css"> --}}


<div class="row">
    <div class="contianer col-md-6" id="LandingPage" fixed>
        <a href="" id="Signin">LogIn</a>
        <a href="/signup" id="Signup">Register</a>
    </div>
</div>
<div class="vl"></div>
<div class="row">
    <div id="About" class="cl-md-6">
        <p><b>PARIKSHA<b> <br>is the Module where you can find some Facts <br>that is very surprise as well as
                    <br>increase your knowledge....
        </p>
    </div>
</div>

<link rel="stylesheet" href="/css/landing.css">